
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 80%;
}
body {
    font-family: Tahoma, sans-serif;
   font-weight: 45rem;
    padding: 1.5rem;
    height: 1.5;
    color: white;

}
