    $color-blue: blue;
    $color-white: white;
    $color-red: red;
    $color-black: rgb(4, 1, 29);
    $color-blue-light: rgba(58, 6, 153, 0.8);
    $color-blue-dark: rgba(10, 3, 48, 0.8);
    $color-blue-medium: rgb(138, 43, 226);
    $gutter-vertical: 8rem;
    $gutter-horizontal: 6rem;
    .header {
        height: 95vh;
        background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.8), rgba($color-blue-dark, 0.8)), url("file:///C:/Users/SPECIFIC%20TOOLS/Documents/html/images/cccsoau.jpg");
        background-position: top;
        background-size: cover;
        position: relative;
        clip-path: polygon(0 0, 98% 0, 100% 100%, 0 98%);
        &_logo {
            display: inline-block;
            padding-left: 1rem;
            padding-top: 1rem;
            &-cccsoau {
                height: 2.5rem;
            }
            &-oau {
                height: 2.5rem;
            }
        }
        &_link {
            list-style: square;
            text-decoration: none;
            display: flex;
            background-color: $color-white;
        }
    }
    
    ul {
        display: inline-block;
        justify-content: space-around;
        text-transform: uppercase;
        color: $color-blue-medium;
        margin-top: .5rem;
        font-weight: 600;
    }
    
    #form {
        position: absolute;
        margin-top: 1.5rem;
        padding: 1rem;
    }
    
    #username {
        margin-bottom: 1rem;
        border: .2rem solid $color-black;
        padding: .3rem;
    }
    
    #password {
        margin-bottom: 1rem;
        border: .2rem solid $color-black;
        padding: .3rem;
    }
    
    .butt {
        color: $color-white;
        border: .2rem solid $color-black;
        background-color: $color-blue;
        padding: .3rem;
        margin-bottom: 1rem;
        &:hover {
            height: 4rem;
            width: 6rem;
            background-color: $color-blue-medium;
            color: $color-red;
            font-weight: 600;
        }
        &_acc {
            color: $color-blue;
            border: .2rem solid $color-white;
        }
        &-about {
            background-color: $color-blue-dark;
            color: $color-white;
            text-decoration: none;
            border-bottom: .2rem solid $color-blue-medium;
            letter-spacing: .2rem;
        }
    }
    
    .main {
        text-align: center;
        .main_1 {
            position: absolute;
            left: 40%;
            top: 50%;
            text-align: center;
            text-transform: uppercase;
        }
        &_minor-1 {
            display: block;
            letter-spacing: 2.8rem;
            animation-name: moveInLeft;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
        &_minor-2 {
            display: block;
            font-weight: 350;
            letter-spacing: .8rem;
            animation-name: moveInRight;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    }
    
    .button {
        display: block;
        font-weight: 400;
        letter-spacing: .8rem;
        position: absolute;
        left: 46%;
        top: 70%;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-blue;
        padding: .5rem;
        border: .2rem solid $color-white;
        border-radius: 1rem;
        text-decoration: none;
        animation-name: rotateAbout;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        &:hover {
            font-weight: 500;
            letter-spacing: .5rem;
            color: $color-white;
            box-shadow: 0rem .5rem 1rem $color-black;
            background-color: $color-blue;
            padding: .5rem;
            border: .7rem solid $color-white;
            border-radius: 1rem;
            text-decoration: none;
            width: 20rem;
        }
    }
    
    .slogan {
        font-weight: 100;
        position: absolute;
        left: 71%;
        top: 93%;
        text-align: center;
        animation-name: reAppear;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
        animation-iteration-count: 5;
        animation-direction: left;
    }